body {
  font-size: 14px;
}

.example {
  align-items: center;
  display: flex;

  .buttonGroup {
    margin: 30px;

    > button {
      display: block;
      margin: 10px;
    }
  }
}

:global {
  .diagram-container .diagram-exit-btn {
    cursor: pointer;
    margin-right: 10px;
  }
}
